.container
	.well
		form.form-horizontal(name="accountForm")
			fieldset
				legend Your Profile
				.form-group
					label.col-md-2.control-label(for="username") Username
					.col-md-10
						input.form-control(name="username", type="text", placeholder="Username", ng-model="userData.username" required)
				.form-group
					label.col-md-2.control-label(for="firstName") First Name
					.col-md-10
						input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="userData.firstName" required)
				.form-group
					label.col-md-2.control-label(for="lastName") Last Name
					.col-md-10
						input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="userData.lastName" required)
				.form-group
					label.col-md-2.control-label(for="password") Password
					.col-md-10
						input.form-control(name="password", type="password", placeholder="Password", ng-model="userData.password")
				.col-md-10.col-md-offset-2
					.pull-right
						button.btn.btn-primary(ng-click="update()", ng-disabled="accountForm.$invalid") Update Account