.navbar-right(ng-controller="NavbarAccountController", ng-show="userData.identity.isAuthenticated()")
	ul.nav.navbar-nav.navbar-right
		li.dropdown
			a.dropdown-toggle(href="#", data-toggle="dropdown")
				{{ userData.identity.currentUser.firstName + ' ' + userData.identity.currentUser.lastName }}
				b.caret
			ul.dropdown-menu
				li
					a(ui-sref="account") Your Account
				li
					a(href="#", ng-click="signout()") Sign Out