doctype
html
	head
		title MEAN Seed
		base(href="/")
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		link(rel="stylesheet", href="/css/main.css")
	body(ng-app='app')
		block main-content
		include scripts
