.container
	form.form-horizontal
		.form-group
			label(for="location.name").control-label.col-sm-2 Location Name
			.col-sm-10
				input(type="text", ng-model="location.name").form-control
		.form-group
			label Add items below
		.form-group
			label(for="item.name").control-label.col-sm-2 Item Name
			.col-sm-10
				input(type="text", ng-model="item.name").form-control
		.form-group
			label(for="item.quantity").control-label.col-sm-2 Quantity
			.col-sm-10
				input(type="number", ng-model="item.quantity").form-control
		.form-group
			label(for="item.exp_date").control-label.col-sm-2 Expiration Date
			.col-sm-10
				input(type="text", ng-model="item.exp_date", datepicker-popup="{{datepicker.format}}", min-date="{{datepicker.minDate}}", is-open="datepicker.opened", close-text="{{datepicker.closeText}}").form-control
				span.input-group-btn
					button(type="button", ng-click="openDatepicker($event)").btn.btn-default
						i.glyphicon.glyphicon-calendar
		.form-group
			label(for="item.notes").control-label.col-sm-2 Notes
			.col-sm-10
				textarea(ng-model="item.notes").form-control
		.form-group
			a.btn.btn-primary(href="#", ng-click="addItem()") Add Item

	table.table
		thead
			th Name
			th Quantity
			th Expiration Date
			th Notes
			th
				i.glyphicon.glyphicon-trash
			th
				i.glyphicon.glyphicon-edit
		tbody
			tr(ng-repeat="item in items")
				td {{ item.name }}
				td {{ item.quantity }}
				td {{ item.exp_date | date: 'MM-dd-yyyy' }}
				td {{ item.notes }}
				td
					button.btn.btn-danger
						i.glyphicon.glyphicon-trash(ng-click="removeItem($index)")
				td
					button.btn.btn-primary
						i.glyphicon.glyphicon-edit(ng-click="editItem($index)")

